.card {
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  border-radius: 8px;
  max-height: 120px;  
  width: auto;   
  object-fit: cover;
}


.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.card-text {
  font-size: 0.95rem;
  margin-bottom: 0.25rem;
  color: #555;
}

.delete-btn {
  background-color: #525252;
  color: #fff;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: inline-block;
  margin-top: 10px;
  border: 1px solid #525252;
}

.delete-btn:hover {
  background-color: #fff;
  color: #9f0202;
  border: 1px solid #9f0202;
}
